@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Roboto:wght@300&display=swap');


* {
    margin: 3px 0 0 0;
    padding: 0;
    border: none;
 
}
body {
    font-family: PlayFair, sans-serif;
    font-weight: 200;
    color: #3a3a3a;
}
/* headings */

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #252525;
}

#heading {
    float: left;
    margin: 0;
}

/* navigation links */

#navigation {
    font-size: 110%;
    letter-spacing: 4px;
}

#navigation li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}
#navigation a:hover {
    border-bottom: 1px solid #3a3a3a;
}

/* background image */


#budda-outter {
    height: 500px;
    width: auto;
    clear: both;
    position: relative;
    background-size: cover;
    overflow: hidden;

}
#budda-home-page-image {
    height: 500px;
    width: 100%;
    
}
img {
    width: 100%;
    height: 100%;
} 

/* getting people to visit */
#come-visit {
    height: 600px;
}

#welcome {
    text-align: center;
    margin: 20px 0;
    font-size: 280%;
}
#left-side {
    padding-top: 30px;
    width: 45%;
    float: left;
}
#right-side {
    padding-top: 30px;
    width: 45%;
    float: right;
}

.left-side-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}
.right-side-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}



/* gallery */

#photos {
    clear: both;
    line-height: 0;
    column-count: 1;
    column-gap: 0;
    height: 50%;
}
#photos > img {
    width: 80%;
    height: 100px;
    object-fit: cover;
}
/* contact us */

#feedback {
    clear: both;
    padding-left: 30px;
}
.contact-form {
    color: #151414;
    background-color: #fff;
    max-width: 800px;
    padding: 30px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 1.5%;
}
.contact-heading h1 {
    color: #046231;
    margin-bottom: 40px;
}

.contact-details {
    width: 550px;
}

.contact-details h2 {
    margin-bottom: 20px;
}

.contact-details input {
    background: transparent;
    color: #151414;
    width: 100%;
    height: 30px;
    margin: 10px 0 25px 0;
    border: 1px solid #5c5a5a;
    border-radius: 2px;
}

.contact-details input:hover {
    border-color: rgb(153, 8, 32);
    cursor: pointer;
}

.contact-details fa {
    margin-left: 25px;
}

.questionnaires h3 {
    color: #046231;
    margin-top: 20px;
}

.questionnaires hr {
    border-top: 2px solid #151414;
    width: 43%;
    margin: 10px 0;
}

.feedback-questionnaire {
    padding-left: 25px;
}

.radio-botton {
    margin: 0 20px 40px 0;
    cursor: pointer;
    line-height: 5px;
}
.additional-remarks {
    margin-top: 20px;
}

.additional-remarks h2 {
    margin-bottom: 20px;
}

.additional-remarks textarea {
    border-color: #be0e0e;
    border-radius: 5px;
    width: 100%;
    margin-top: 10px;
    height: 15rem;
    background-color: #edf3f0;
}

.button {
    margin-top: 15px;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    text-align: center;
    font-size: 110%;
    background-color: #0ad17e;
    color: #000000;
    display: inline-block;
}

.button:hover {
    background-color: rgb(4, 82, 39);
    color: #e74c3c;
    cursor: pointer;
}

.form-layout {
    text-align: left;
    max-width: 800px;
    display: flex;
}
/* google map */

.location-map {
    margin-top: 300px;
    margin-left: 150px;
}

.map {
    width: 500px;
    height: 500px;
}

::placeholder {
    padding: 5px;
}

/* footer */

footer {
    height: 150px;    
}
.social-network {
    text-align: center;
   
}
.social-network > li {
    display: inline;
   
}

.social-network i {
    font-size: 150%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
    
}
/* Media queries */

/* large to meduim screens from 1200px wide and down */

@media screen and (max-width: 1200px) {
    #come-visit {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }
    #welcome {
        padding: 30px 0;
        margin: 0;
    }
    img {
        width: auto;
        height:100%;
    }
    #left-side, #right-side {
        width: 100%;
        float: left;
        padding: 0;
    }
    #center-about {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }
    #times > div {
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;
    }
    hr {
        display: none;
    }
    .location-map {
        margin-top: 5px;
        padding: 20px;
        margin-left: 40px;
    }
}
/* meduim screen sizes from 950px wide and down */

@media screen and (max-width: 950px) {
    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }
    #cover-text {
        left: 0;
    }

    #come-visit {
        width: 90%;
        height: 100px;
        margin: 0 auto;
    }
    .left-side-heading, .right-side-heading {
        width: inherit;
    }

    .left-side-heading h2, .right-side-heading h2 {
        width: 100%;
        text-align: center;
    }

    .left-side-heading p, .right-side-heading p {
        text-align: center;
        padding: 0 20px;
    }
    .questionnaires hr {
        width: 0px;
    }

    .feedback-questionnaire li {
        line-height: 30px;
    }

    .additional-remarks h2 {
        margin-top: 30px;
    }

    .form-layout {
        flex-direction: column;
    }

    .location-map {
        margin-top: 0px;
        padding: 0px;
        margin-left: 0px;
    }

    .map {
        width: 680px;
        height: 400px;
        margin-left: 10px;
    }
}

/*For screen size max width 767 px */

@media screen and (max-width: 767px) {
    #menu {
        clear: left;
        float: left;
        margin-left: 15px;
        margin-bottom: 10px;
        line-height: 10px;
    }
    #cover-text {
        left: 0;
    }

    #come-vist {
        width: 90%;
        height: 1200px;
        margin: 0 auto;
    }
    .left-side-heading, .right-side-heading {
        width: inherit;
    }

    .left-side-heading h2, .right-side-heading h2 {
        width: 100%;
        text-align: center;
    }

    .left-side-heading p, .right-side-heading p {
        text-align: center;
        padding: 0 20px;
    }
    .questionnaires hr {
        width: 0px;
    }

    .feedback-questionnaire li {
        line-height: 30px;
    }

    .additional-remarks h2 {
        margin-top: 30px;
    }

    .contact-details {
        width: 100%;
    }

    .radio-botton {
        margin: 0px 10px 10px 0px;
        width: 100%;
    }

    .feedback-questionnaire {
        padding-left: 0px;
    }

    .additional-remarks h2 {
        font-size: 135%;
    }

    .questionnaires h2 {
        font-size: 135%;
    }

    .questionnaires h3 {
        font-size: 120%;
    }

    .contact-details h2 {
        font-size: 135%;
    }

    .contact-heading h2 {
        font-size: 140%;
    }

    .form-layout {
        display: block;
    }

    .location-map {
        margin-top: 0px;
        padding: 0px;
        margin-left: 0px;
    }

    .map {
        width: 250px;
        height: 150px;
        margin-left: 30px;
    }

    #feedback {
        padding: 5px;
    }

    #coagulation {
        padding: 5px;
    }
}