@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Roboto:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
 
}
body {
    font-family: PlayFair, sans-serif;
    font-weight: 200;
    color: #3a3a3a;
}
/* headings */

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #252525;
}

#heading {
    float: left;
    
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

/* background image */


#budda-outter {
    height: 500px;
    width: auto;
    clear: both;
    position: relative;
    background-size: cover;
    overflow: hidden;

}
#budda-home-page-image {
    height: 500px;
    width: 100%;
    
}
img {
    width: 100%;
    height: 100%;
} 

/* getting people to visit */

#welcome {
    text-align: center;
    margin: 20px 0;
    font-size: 280%;
}
#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
}
#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}
#center-about {
    width: 33%;
    margin: 0 auto;
}
.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}
.right-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}


#shrine-room {
   height: 100%;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 5px;
    width: 80%; 
    height: 450px;
}
.photo {
    height: 100%;
    width: 100%;
}
/* gallery */

#photos {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0;
    height: 50%;
}
#photos > img {
    width: 100%;
}

/* footer */

footer {
    height: 150px;    
}
.social-network {
    text-align: center;
   
}
.social-network > li {
    display: inline;
   
}

.social-network i {
    font-size: 150%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
    
}